/* COLOR PALETTE */
:root {
    --black: #22292f;
    --grey-lightest: #f8fafc;
}

/* TYPOGRAPHY */
.text-gray-lightest { color: #f8fafc; }

.text-base { font-size: 1rem; }
.text-xl { font-size: 1.25rem; }
.text-2xl { font-size: 1.5rem; }
.text-3xl { font-size: 1.875rem; }
.text-4xl { font-size: 2.25rem; }
.text-5xl { font-size: 3rem; }

.font-sans { font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI,
                          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
                          Helvetica Neue, sans-serif;
           }

.font-light { font-weight: 300; }

/* BACKGROUNDS */
.bg-img-lg { background: linear-gradient( var(--black), var(--grey-lightest)); }

/* FLEXBOX */
.flex { display: flex; }
.flex-wrap { flex-wrap: wrap; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.basis-3 { flex-basis: 3rem; }
.basis-5 { flex-basis: 5rem; }

/* SPACING */
.pt-8 { padding-top: 2rem; }

/* SIZING */
.h-full { height: 100%; }
.w-1/2 { width: 50% }

.logo {
    font-size: 4rem;
    flex-basis: 5rem;
}

.offices {
    font-size: 2rem;
    flex-basis: 3rem;
}

.container {
    font-family: helvetica;
    font-weight: 200;
    color: #DDDDDD;
    padding-top: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
}
